option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  
  # Set the port that nginx forwards to
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static